[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
nptime = "*"
flask = "*"
opencv-python = "*"
numpy = "*"

[dev-packages]
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3.8"
